/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

 @import url('https://fonts.googleapis.com/css?family=Inter:400,700&display=swap');

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2F80ED;
  --ifm-color-primary-dark: #1366d6;
  --ifm-color-primary-darker: #1366d6;
  --ifm-color-primary-darkest: #1366d6;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-font-size-base: 16px;
  --ifm-font-family-base: "Inter",
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Helvetica,
    Arial,
    sans-serif;
  --ifm-font-family-monospace: system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Ubuntu,
    Cantarell,
    Noto Sans,
    sans-serif,
    BlinkMacSystemFont,
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  --ifm-font-color-base: #23262F;
  --ifm-font-color-subtle: #777E90;
  --ifm-button-font-weight: 500;
  --ifm-background-surface-color: #f9f9f9;
  --ifm-breadcrumb-spacing: 2px;
  --ifm-footer-background-color: #f9f9f9;
  --ifm-spacing-horizontal: 2rem;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* EVERSHOP CUSTOMIZATION */
.main-wrapper .hero--primary{
  --ifm-hero-background-color: none;
  color: var(--ifm-font-color-base)
}
#__docusaurus .menu {
  padding-top: 1rem;
  padding-bottom: 5rem;
}
#__docusaurus .menu__link{
  font-size: .813rem
}
#__docusaurus .menu__list-item-collapsible .menu__link{
  font-size:.938rem;
  font-weight: 600
}
#__docusaurus .theme-doc-sidebar-item-category > div{
  flex-direction: row-reverse;
}

#__docusaurus .menu__caret:before{
  background:var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem
}
.theme-doc-sidebar-menu > .theme-doc-sidebar-item-category:not(:first-child){
  margin-top: 1.25rem
}
.hero--primary {
  padding-top: 8rem;
  padding-bottom: 5rem;
}
.current-version {
  background-color: #292d3e;
  padding: 0px 8px;
}

@import "./output.css";
@import "./heading.scss";

body {
  font-family: var(--ifm-font-family-base);
  background-color: #f9f9f9;
}

body .hero__title {
  font-size: 39px;
  line-height: 100%;
  letter-spacing: -0.022em;
}

@media (min-width: 436px) {
  body .hero__title {
    font-size: 48px;
  }
}

@media (min-width: 1024px) {
  body .hero__title {
    font-size: 90px;
    letter-spacing: -0.032em;
    text-transform: capitalize;
    line-height: 100%;
  }
}
body .hero__subtitle {
  font-size: inherit
}

body .button {
  display: inline-block;
  border-radius: 5px;
  padding: 14px 22px;
  color: #fff;
  border: none;
  outline: none;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  letter-spacing: normal !important;
  position: relative;
  white-space: nowrap;
  transform: translate3d(0, 0, 0);
  -webkit-appearance: none;
  transition: 0.3s;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

body .button--secondary {
  border: 1px solid rgba(0, 0, 0, 0.11);
  padding-top: 13px;
  padding-bottom: 13px;
  background: #fff;
  color: #161616;
}

.card {
  background: white;
  color: #23222a;
  border-radius: 16px;
}

.card:hover {
  box-shadow: rgb(0 0 0 / 15%) 0px 4px 12px -4px;
}

.pointer-events-none {
  pointer-events: none;
}

body code {
  font-family: monospace !important;
}

main[class*='docMainContainer'] .container {
  padding-left: 30px;
  padding-right: 30px;
}
@media (min-width: 768px) {
  .footer {
      border-top: 1px solid rgba(132, 132, 132, 0.2);
      padding-top: 20px;
      padding-bottom: 20px;
      margin-top: 60px;
  
      .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
      }
    }
}

.footer__links {
  margin-bottom: 0;
  .footer__title {
    display: none;
  }

  .footer__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .footer__item {
      a {
        margin-left: 10px;
          padding-left: 10px;
          border-left: 1px solid rgba(132, 132, 132, 0.2);
          line-height: auto;
      }

      &:first-child {
        a {
          margin-left: 0;
            padding-left: 0;
            border-left: none;
        }
      }
    }
  }
}

.navbar__logo {
  height: 2.3rem;
}
* {
  border-style: solid;
  border-width: 0;
}

body .footer {
  padding-left: 0;
  padding-right: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.navbar__item.navbar__link svg, .menu__link svg {
  display: none;
}

.navbar__item.navbar__link.button, .menu__link.button {
  padding:  0.5rem 1rem;
  margin-left: 0.5rem;
}

.navbar__item.navbar__link.button:hover {
  color: #fff;
}

@media (max-width: 996px) {
  .navbar__item.navbar__link.button {
      display: none;
    }
}
.menu__list .api-menu-item .menu__list-item-collapsible + .menu__list {
  display:none !important;
}
.menu__list .api-menu-item .menu__list-item-collapsible--active + .menu__list {
  display:block !important;
  height: auto !important;
}

button.menu__caret {
  display: none;
}

.menu__link.menu__link--sublist:after {
  content: '';
  margin-left: auto;
  min-width: 1rem;
  background: var(--ifm-menu-link-sublist-icon) 50% / 1rem 1rem;
  filter: var(--ifm-menu-link-sublist-icon-filter);
  height: 1rem;
  transform: rotate(180deg);
  width: 1rem;
  transition: transform var(--ifm-transition-fast) linear;
}

.menu__link--sublist.menu__link--active:after,
.menu__list-item--collapsed .menu__caret:before {
  transform: rotateZ(90deg);
}

.menu__link {
  > span {
    padding-left: 10px;
  }
  > span:first-child {
    display: inline-block;
    width: 65px;
    text-align: center;
  }
}

.hero-image {
  mask-image: linear-gradient(180deg,#fff 60%,transparent);
  -webkit-mask-image: linear-gradient(180deg,#fff 60%,transparent);
}