:root {
  --ifm-h1-font-size: 60px;
  --ifm-h2-font-size: 40px;
  --ifm-h3-font-size: 30px;
  --ifm-h4-font-size: 24px;
  --ifm-h5-font-size: 20px;
  --ifm-h6-font-size: 16px;
}
body {
  .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--heading-font-color);
      font-weight: 600;
      font-style: normal;
    }
  
    h1,
    .h1 {
      letter-spacing: -1.2px;
      line-height: 72px;
    }

    h2,
    .h2 {
      line-height: 52px;
    }

    h3,
    .h3 {
      line-height: 38px;
    }

    h4,
    .h4 {
      line-height: 32px;
    }
}

@media (min-width: 436px) {
  body {
    h1,
      .h1 {
        font-size: 42px;
      }
  }
}

@media (min-width: 1024px) {
  body {
    h1,
      .h1 {
        font-size: 51px;
      }
  }
}

@media (min-width: 1240px) {
  body {
    h1,
      .h1 {
        font-size: 57px;
      }
  }
  h2,
      .h2 {
        font-size: 40px;
        line-height: 52px;
      }
}

@media (min-width: 436px) {
  .h5,
  h5 {
    font-size: 22px;
  }
}

@media (min-width: 1024px) {
  .h5,
  h5 {
    font-size: 24px;
  }
}
