body {
  .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: 1.25;
      margin-bottom: 4.5px;
      letter-spacing: -0.015em;
    }
  
    h1,
    .h1 {
      font-size: 33px;
      letter-spacing: -0.022em;
    }
  
    h1.larger,
    .h1.larger {
      font-size: 39px;
    }
  
    h1.large,
    .h1.large {
      font-size: 36px;
    }
  
    h1.small,
    .h1.small {
      font-size: 30px;
    }
  
    h1.smaller,
    .h1.smaller {
      font-size: 18px;
    }
  
    h3.largest,
    .h3.largest {
      font-size: 34px;
    }
  
    h4,
    .h4 {
      font-size: 21px;
      letter-spacing: -0.015em;
    }
  
    h4.largest,
    .h4.largest {
      font-size: 30px;
    }
  
    h4.small,
    .h4.small {
      font-size: 18px;
    }
  
    .h5,
    h5 {
      font-size: 20px;
    }
}

@media (min-width: 436px) {
  body {
    h1,
      .h1 {
        font-size: 42px;
      }
    
      h1.larger,
      .h1.larger {
        font-size: 48px;
      }
    
      h1.large,
      .h1.large {
        font-size: 45px;
      }
    
      h1.small,
      .h1.small {
        font-size: 39px;
      }
    
      h1.smaller,
      .h1.smaller {
        font-size: 27px;
      }
  }
}

@media (min-width: 1024px) {
  body {
    h1,
      .h1 {
        font-size: 51px;
      }
    
      h1.larger,
      .h1.larger {
        font-size: 57px;
      }
    
      h1.large,
      .h1.large {
        font-size: 54px;
      }
    
      h1.small,
      .h1.small {
        font-size: 48px;
      }
    
      h1.smaller,
      .h1.smaller {
        font-size: 36px;
      }
  }
}

@media (min-width: 1240px) {
  body {
    h1,
      .h1 {
        font-size: 57px;
      }
    
      h1.larger,
      .h1.larger {
        font-size: 69px;
      }
    
      h1.large,
      .h1.large {
        font-size: 63px;
      }
    
      h1.small,
      .h1.small {
        font-size: 51px;
      }
    
      h1.smaller,
      .h1.smaller {
        font-size: 42px;
      }
  }
}

@media (min-width: 436px) {
  body {
    h3.largest,
      .h3.largest {
        font-size: 39px;
      }
  }
}

@media (min-width: 1024px) {
  h3.largest,
  .h3.largest {
    font-size: 44px;
  }
}

@media (min-width: 1240px) {

  h3.largest,
  .h3.largest {
    font-size: 49px;
  }
}

@media (min-width: 436px) {

  h4.largest,
  .h4.largest {
    font-size: 33px;
  }

  h4.small,
  .h4.small {
    font-size: 21px;
  }
}

@media (min-width: 1024px) {

  h4.largest,
  .h4.largest {
    font-size: 36px;
  }

  h4.small,
  .h4.small {
    font-size: 24px;
  }
}

@media (min-width: 436px) {

  .h5,
  h5 {
    font-size: 22px;
  }
}

@media (min-width: 1024px) {

  .h5,
  h5 {
    font-size: 24px;
  }
}

h5.largest,
.h5.largest {
  font-size: 29px;
}

h5.large,
.h5.large {
  font-size: 23px;
}

@media (min-width: 436px) {

  h5.largest,
  .h5.largest {
    font-size: 31px;
  }

  h5.large,
  .h5.large {
    font-size: 25px;
  }

  h5.smaller,
  .h5.smaller {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {

  h5.largest,
  .h5.largest {
    font-size: 33px;
  }

  h5.large,
  .h5.large {
    font-size: 27px;
  }

  h5.smaller,
  .h5.smaller {
    font-size: 18px;
  }
}