:root {
  --ifm-h1-font-size: 60px;
  --ifm-h2-font-size: 40px;
  --ifm-h3-font-size: 30px;
  --ifm-h4-font-size: 24px;
  --ifm-h5-font-size: 20px;
  --ifm-h6-font-size: 16px;
  @include mobile {
    --ifm-h1-font-size: 48px;
    --ifm-h2-font-size: 32px;
    --ifm-h3-font-size: 24px;
    --ifm-h4-font-size: 18px;
    --ifm-h5-font-size: 16px;
    --ifm-h6-font-size: 14px;
  }
}
body {
  .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--heading-font-color);
      font-weight: 600;
      font-style: normal;
    }
  
    h1,
    .h1 {
      letter-spacing: -1.2px;
      line-height: 72px;
    }

    h2,
    .h2 {
      line-height: 52px;
    }

    h3,
    .h3 {
      line-height: 38px;
    }

    h4,
    .h4 {
      line-height: 32px;
    }
}
