.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.mt-6 {
  margin-top: 1.5rem
}

.mt-3 {
  margin-top: 0.75rem
}

.mb-12 {
  margin-bottom: 3rem
}

.mt-16 {
  margin-top: 4rem
}

.flex {
  display: flex
}

.table {
  display: table
}

.flex-row-reverse {
  flex-direction: row-reverse
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.gap-5 {
  gap: 1.25rem
}

.px-24 {
  padding-left: 6rem;
  padding-right: 6rem
}

.text-center {
  text-align: center
}

@media (min-width: 768px) {
  .md\:px-40 {
    padding-left: 10rem;
    padding-right: 10rem
  }
}